@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mooli&family=Petit+Formal+Script&display=swap');


* {
    margin: 0;
    padding: 0;
}

.content {
    background-color: whitesmoke;
}

.myIntro {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 20vh;
    margin-bottom: 15vh;
}

.myIntro p {
    font-size: 2.5vh;
    height: 20vh;
    text-align: center;
    font-family: "Lora", serif;
    color: navy;
}

.headerCont {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 1vh;
}

.theNav a {
    font-size: 2.5vh;
    margin-right: 2vh;
    text-decoration: none;
    font-family: "Mooli", serif;
    color: navy;
}

.contextCont {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.whoAmI {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}

.whoAmI img {
    position: fixed;
    opacity: 0.8;
    height: 30vh;
    border-radius: 50%;
    box-shadow: 0.1vh 0.1vh 0.1vh 0.1vh gray;
}

.iAm {
    font-size: 3vh;
    color: navy;
    position: fixed;
    top: 35vh;
    font-family: "Mooli", serif;
}

.projectCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2vh;
    margin-bottom: 20vh;

}

.proj {
    background-color: whitesmoke;
    border: none;
    padding: 0.1vh;
    margin-right: 3vh;
    margin-top: 3vh;
    
}

.proj img {
    height: 25vh;
    box-shadow: 0.1vh 0.1vh 0.3vh 0.1vh black;
    width: 100%;
    margin-bottom: 0.5vh;
}

.selectedProjCont {
    border: 0.1vh solid lightgray;
    margin: 5vh;
    margin-bottom: 20vh;
}

.selectedProj {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 2vh;
    margin: auto;
    width: 90%;
    border-radius: 5px;
}

.goBack {
    width: 90%;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    justify-content: end;
}

.goBack button {
    border: none;
    background-color: white;
}

.selectedProj h2 {
    margin-bottom: 2vh;
}

.selectedProj p {
    font-size: 3vh;
    margin-bottom: 1vh;
    font-family: "Lora", serif; 
}

.description {
    margin-left: 3vh;
    text-align: center;
}

.selectedProj button {
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    padding: 0.2vh;
}

.selectedProj a {
    color: navy;
    text-decoration: none;
}

.selectedProj img {
    height: 25vh;
    width: 30vh;
    box-shadow: 0.1vh 0.1vh 0.3vh 0.1vh black;
    margin-bottom: 0.5vh;
}

.skillList {
    margin: 5vh;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5vh;
    margin-bottom: 15vh;
}

.contactForm {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
}

.contactForm form {
    margin-top: 4vh;
    margin-bottom: 5vh;
    display: grid;
    width: 30vh;
}

.contactForm h2 {
    text-align: center;
    font-family: "Petit Formal Script", serif;
    font-size: 4vh;
}

.contactForm label {
    font-family: "Mooli", serif;
    font-size: 2vh;
    margin-bottom: 0.2vh;
}

.contactForm input {
    font-family: "Mooli", serif;
    height: 2.5vh;
    border-radius: 1vh;
    border: 0.1vh solid navy;
    margin-bottom: 0.5vh;
    padding: 1vh;
}

.contactForm textarea {
    height: 7vh;
    border-radius: 1vh;
    border: 0.1vh solid navy;
    margin-bottom: 2vh;
    font-family: "Mooli", serif;
    padding-left: 1vh;
}

.contactForm button {
    font-family: "Mooli", serif;
    background-color: whitesmoke;
    border-radius: 1vh;
    border: 0.1vh solid navy;
    font-size: 1.5vh;
}

.myInfoCont {
    margin: 5vh;
    margin-bottom: 10vh;
}

.myInfoCont tr {
    height: 8vh;
} 

.myInfoCont td {
    width: 8vh;
    font-family: "Mooli", serif;
}

.myPics {
    margin-top: 10vh;
    display: flex;
    margin-left: 40vh;
}

.carousel-item img {
    height: 30vh;
    border-radius: 50%;
    box-shadow: 0.1vh 0.1vh 0.1vh 0.1vh gray;
}

.footerCont {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

.addMessage h3 {
    color: green;
}

.addMessage button {
    border: 0.1 solid navy;
    padding: 0.3vh;
    margin-left: 1vh;
}

.addMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.removeMessage {
    display: none;
}

.theTree img {
    border-radius: 0;
    box-shadow: none;
    position: fixed;
    bottom: 0;
    left: 3vh;
    height: 40vh;
}

.theFox {
    display: flex;
    justify-content: center;
}

.theGoat {
    display: flex;
    justify-content: end;
}

.theChess img {
    height: 40vh;
    position: absolute;
    top: 150vh;
    right: -11vh;
}


@media screen and (max-width: 600px) {

    /* css for the profile picture section */
    .contextCont {
        grid-template-columns: 1fr;
    }

    .myIntro p {
        padding: 4vh;
    }

    .whoAmI {
        padding-top: 0vh;
    }
    

    .whoAmI img {
        position: absolute;
        top: 10vh;
        right: 18vh;
        height: 18vh;
    }
    
    .iAm {
        display: none;
    }

    .theTree {
        display: none;
    }

    /* css for the intro section */

    .myIntro {
        margin-left: 1vh;
        margin-right: 1vh;
        margin-top: 25vh;
        margin-bottom: 25vh;
    }

    .myPics {
       display: none;
    }

    /* absolute items */

    .theGoat {
        display: none;
    }

    .theChess img {
        height: 20vh;
        position: absolute;
        top: 163vh;
        right: -5vh;
    }

    .theFox {
        display: flex;
        justify-content: center;
    }

    .theFox img {
        position: static;
        margin-top: -5vh;

    }

    /* contact section */
    
    .myInfoCont {
       margin-top: 10vh;
    }

    /* project section */

    .projectCont {
        display: grid;
        grid-template-columns: 1fr;
        padding: 5vh;
        margin-bottom: 20vh;
    }

    /* selected project section */

    .selectedProj {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0vh;
        width: 100%;
    }

    .selectedProjCont {
        border: none;
        margin: 3vh;
    }

    .description {
        margin-left: 0vh;
        margin-bottom: 5vh;
        margin-top: 2vh;
    }

    .selectedProj p {
        font-size: 2.5vh;
        margin-bottom: 1vh;
        font-family: "Lora", serif; 
    }

    /* contact form section */

    .contactForm input {
        font-size: 1.8vh;
    }
    
    .contactForm textarea {
       font-size: 1.8vh;
    }

    .addMessage h3 {
        color: green;
        font-size: 2.5vh;
    }
    
    .addMessage button {
        border: none;
        padding: 0;
        margin-left: 1vh;
    }

    
  }